@import url(//db.onlinewebfonts.com/c/132e124d37c13ab350cd3cfbb789ac48?family=Monospac821+BT);

/*  REESET CSS

        http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
        */
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        html {box-sizing: border-box;}
        *, *:before, *:after {box-sizing: inherit;}
/*  ENDRESET CSS  */



:root {
    --background: url('../assets/Image_1.webp')
}

html {
    height: 100%;
    color: black;
    text-align: center;
    font-family: 'Monospac821 BT';
    letter-spacing: 0.015em;
    font-size: 1em;
    text-align: left;
}

a {
    color: black;
}

body {
    height: 100%; 
    position: relative;

    @font-face {
        font-family: "Monospac821 BT"; 
        src: url('monospace_821_bt_regular-webfont.eot');
        src: url('monospace_821_bt_regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('Monospace821BTRegular.woff2') format('woff2'),
             url('Monospace821BT.woff') format('woff'), 
             url('monospace_821_bt_regular-webfont.ttf')  format('truetype'),
             url('monospace_821_bt_regular-webfont.svg#Monospac821 BT') format('svg');
    }
}

body::before {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: "";
    opacity: 0.55;
}

section {
    padding: 1em;
}

main {
    padding: 1em;
}

footer {
    display: flex;
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 1em;
    line-height: normal;
    column-gap: 1em;
    opacity: 0;
}

.information-block {
    padding: 0%;
    width: 25%;
    vertical-align: top;
}

.logo {
    opacity: 0;
    width: 100vw;
    padding: 1em;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.logoFirst {
    display: flex;
    align-items: baseline;
}

.dash {
    width: 7%;
    height: 0.475rem;
    background: black;
    margin-top: 0.55rem;
    align-self: center;
}

.logoSecond {
    display: flex;
}


@media only screen and (max-width: 1000px) {
    footer {
        flex-direction: column;
        row-gap: 2em;
    }

    .information-block {
        width: 100%
    }
}